@import "variables.scss";

@mixin priTitulo( $tamanioPadding){

	margin-left: 1%;
	padding-top: $tamanioPadding;

}

@mixin Imagenes {
	width: 300px;
	height: 450px;
}
 
* {
	margin: 0%;
	padding: 0;
}
nav {
	width: 100%;
	align-items: center;
	text-align: center;
	background-color: $colorprimario;
	position: fixed;
	top: 0;
}
ul {
	width: 100%;
	height: 100%;
	position: sticky;
	top: 0;
	display: flex;
	font-size: medium;
	font-family: $fuenteLetra;
	text-align: center;
	overflow: hidden;
	list-style-type: none;
}
li {
	font: $colorsecundario;
	float: left;
	a {
		display: block;
		color: $colorsecundario;
		text-align: center;
		padding: 14px 16px;
		transition: all 0.7s;
		&:hover {
			background-color: $colorterciario;
		}
	}
}





h1.primertitulo {
	@include priTitulo( 50px);
}
p.primerparrafo {
	@include priTitulo( 0px);
}
div.grillaindex {
	display: grid;
	padding-bottom: 30px;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 800px 20px 800px 20px;
	background-image: linear-gradient(to bottom, $colorsecundario 80%, rgb(56, 55, 55));
	align-items: flex-end;
}
div.imagenespasarela {
	@extend div.grillaindex;
	
grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 800px 20px 800px 20px 800px 20px 800px 20px 800px 20px 1100px 20px 800px 20px 800px 20px 1100px 20px 800px 20px;
	background-image: linear-gradient(to bottom, $colorsecundario 95%, rgb(56, 55, 55));
}
#imagen1 {
	border: 1px silver solid;
}
#imagen2 {
	border: 1px silver solid;
}
#maquillaje1 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 430px 20px 600px 20px 680px 20px 700px 20px 670px 20px 580px 20px;
	align-items: flex-end;
	padding-bottom: 30px;
	background-image: linear-gradient(to bottom, $colorsecundario 90%, rgb(56, 55, 55));
}
footer {
	width: 100%;
	display: grid;
	grid-template-columns: 100%;
	background-color: $colorprimario;
	position: absolute;
	text-align: center;
	align-items: center;
}
h3 {
	color: $colorsecundario;
}
@media (min-width:200px) and (max-width:576px) {
	nav {
		height: 245px;
		width: 100%;
		display: flex;
		flex-direction: column;
		background-color: $colorprimario;
		bottom: 20px;
	}
	ul {
		position: sticky;
		display: flex;
		font-size: medium;
		font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
		text-align: center;
		overflow: hidden;
		list-style-type: none;
		flex-direction: column;
	}
	h1.primertitulo {
		@include priTitulo( 100px);
	}
	p.primerparrafo {
		@include priTitulo( 50px);
		
	}
	div.grillaindex {
		grid-template-columns: 100%;
		grid-template-rows: 500px 35px 500px 35px;
		align-items: flex-end;
		padding-top: 50px;
	}
	#imagen1 {
		@include Imagenes;
	}
	#imagen2 {
		@include Imagenes;
	}
}
@media (min-width:576px) and (max-width:768px) {
	nav {
		width: 100%;
		align-items: center;
		text-align: center;
		background-color: $colorprimario;
		position: fixed;
		top: 0;
	}
	h1.primertitulo {
		@include priTitulo( 20px);
	}
	div.grillaindex {
		grid-template-columns: 100%;
		grid-template-rows: 600px 35px 600px 35px;
		align-items: flex-end;
		padding-top: 50px;
	}
	#imagen1 {
		@include Imagenes;
	}
	#imagen2 {
		@include Imagenes;
	}
}


